# Ignore all iml files
*.iml

# Ignore Gradle folders
.gradle/
build/
**/build/

# Local configuration file (contains SDK path, etc.)
local.properties

# IntelliJ / Android Studio
.idea/
*.hprof

# Mac system files
.DS_Store

# Android Studio Navigation JSON
.navigation/

# C++ / NDK
.externalNativeBuild/
.cxx/

# Captures
captures/

# Logs
*.log

# Output files
output.json
